<h2> Restaurants Name: </h2>


<%= form_for @restaurant_search do |f| %>
<%= f.label :address %>
<%= f.text_field :address %> <br>

<%= f.label :city %>
<%= f.text_field :city %> <br>

<%= f.label :state %>
<%= f.text_field :state %> <br>

<%= f.label :radius %>
<%= f.text_field :radius %> <br>

<%= f.label :term %>
<%= f.text_field :term %> <br>

<%= f.submit "Search Restaurants" %>
<% end %>





