<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2> What's for Dinner? </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
<%= form_for @restaurant_search do |f| %>
<%= f.label :address %>
<%= f.text_field :address %> <br>

<%= f.label :city %>
<%= f.text_field :city %> <br>

<%= f.label :state %>
<%= f.text_field :state %> <br>

<%= f.label :miles_away %>
<%= f.text_field :radius %> <br>

<%= f.label :food_type  %>
<%= f.text_field :term %> <br>

<div class="button"><%= f.submit "Search Restaurants" %></div>
<% end %>
</div>
</div>





