<h1><%= @response["businesses"][0]["name"] %></h1>


<p><%= @response["businesses"][0]["phone"] %></p>
<p><%= @response["businesses"][0]["address1"] %></p>
<p><%= @response["businesses"][0]["city"] %></p>
<p><%= @response["businesses"][0]["state"] %></p>
<p><%= @response["businesses"][0]["zip"] %></p>


<br><br>

<p><%= @response["businesses"][0]["avg_rating"] %></p>
