<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1><%= @response["businesses"][0]["name"] %></h1><br>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
<h4>Phone:</h4>
<p><%= @response["businesses"][0]["phone"] %></p>
<br>
<h4>Address:</h4>
<p><%= @response["businesses"][0]["address1"] %> <%= @response["businesses"][0]["city"] %> <%= @response["businesses"][0]["state"] %> <%= @response["businesses"][0]["zip"] %></p>
<br>
<h4>Rating:</h4>
<p> <%= @response["businesses"][0]["avg_rating"] %></p>

  </div>
</div>
