<div class="center-block jumbotron" center>
  <div class="container">
    <h2><%= @response["name"] %></h2>
    <br>
    <h4>Phone:</h4>
    <p><%= @response["phone"] %></p>
    <br>
    <h4>Address:</h4>
    <p><%= @response["location"]["address"][0] %> <%= @response["location"]["city"] %>
       <%= @response["location"]["state_code"] %> <%= @response["location"]["postal_code"] %></p>
    <br>
    <h4>Rating:</h4>
    <p> <%= @response["rating"] %></p>
  </div>
</div>



