<div class="center-block jumbotron" center>
  <div class="container">
    <h2><%= @response["businesses"][0]["name"] %></h2>
    <br>
    <h4>Phone:</h4>
    <p><%= @response["businesses"][0]["phone"] %></p>
    <br>
    <h4>Address:</h4>
    <p><%= @response["businesses"][0]["address1"] %> <%= @response["businesses"][0]["city"] %>
       <%= @response["businesses"][0]["state"] %> <%= @response["businesses"][0]["zip"] %></p>
    <br>
    <h4>Rating:</h4>
    <p> <%= @response["businesses"][0]["avg_rating"] %></p>
  </div>
</div>



